<!DOCTYPE html>
<html lang="en">
	<head>
		<title>visualizations</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<style>
			body {
				background-color: #000000;
				overflow: hidden;
				color: white;
			}

			a {
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<div class="container text-center">
			<div style="height: 50px;"></div>
			<h1>Choose your visualization:</h1>
			<div style="height: 50px;"></div>

			<div class="col-sm-2"></div>
			<div class="col-sm-8 text-center">
				<a class="btn btn-lg btn-block btn-primary" href="flock.html">Flock</a>
				<div></div>
				<a class="btn btn-lg btn-block btn-primary" href="linespheres.html">Linespheres</a>
				<div></div>
				<a class="btn btn-lg btn-block btn-primary" href="waves.html">Waves</a>
				<div></div>
				<a class="btn btn-lg btn-block btn-primary" href="particles.html">Particles</a>
				<div></div>
				<a class="btn btn-lg btn-block btn-primary" href="flyingGame.html">Flying</a>
			</div>	
		</div>
	</body>
</html>