body {
  background-color: #000000;
  font: 400 1em/1.38 Montserrat;
  color: #000000;
  text-align: center;
}
.calendar{
  position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
input{
    width: 200px;
}
.loginform input[type=submit], input[type=button] {
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef;
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);

}
input[type="submit"]:hover, input[type=button]:hover{
    background: #1179a2;
}