  body {
  background-color: #000000;
  font: 400 1em/1.38 Montserrat;
  color: #ffffff;
}

.info_bg p {
  margin-bottom: -.2em;
}

.not-available, .failed {
  position: absolute;
  top: 464px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 248px;
  min-height: 24px;
  margin: 0 auto;
  font: 0.625em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}

.info_bg {
  position: absolute;
  top: 149px;
  left: 235px;
  z-index: 4;
  width: 163px;
  height: 59px;
  border-bottom-right-radius: 10px;
  background-color: #000000;
}

.title {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 100px;
}

.date {
  text-align: center;
  padding-top: 50px;
  color: white;
}

#quote {
  position: absolute;
  text-align: center;
  bottom: 25%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  z-index: 20;
}
.btn {
   position:absolute;
    width:150px;
    height:20px;
    background:red;
    left:605px;
    top:625px;
    font-size: 10pt;
    align: center;
    background-color: #999999;
  border-style.border-color: #aa22aa;
  color: #ffffff;
  z-index: 100;
}

.calendar {
  position: absolute;
  left: 150px;
  top: 100px;

}