body {
  background-color: #000000;
  font: 400 1em/1.38 Montserrat;
  color: #000000;
  cursor:url(../images/chrome-crosshair.cur), auto;
}
.navigation{
    height: 100px;
    width: 100%;
    margin:  0px;
    text-align: center;
    display: block;
}
/**/
.navigation ul{
    list-style-type: none;
    display: block;
}
/**/
.navigation li{
    display: inline;
}
.navigation img{
  width: 100px;
  height: 100px;
}
.navigation a:hover{
  background-color: #999999;
}
.jumbotron{
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
}
#weather {
  display: block;
  position: relative;
  z-index: 9;
  width: 360px;
  height: 200px;
  margin-top: 10px;
  margin: auto;
  border-radius: 10px;
  opacity: 0.8;
  padding: 0;

}
.location {
  z-index: 8;
  min-height: 28px;
  font-size: 1.313em;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.temperature {
  position: relative;
  z-index: 7;
  min-height: 28px;
  font-size: 4.25em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}
.climate_bg {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
  width: 120px;
  height: 120px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
}
#bottom img{
  width: 40px;
  height: auto;
  display: inline;
}
#bottom p{
  display: inline;
  z-index: 2;
  font-size: 1em;
  line-height: 1.38;
  color: #ffffff;
}
#bottom{
  position: absolute;
  margin: auto;
  padding: 0px;
  text-align: center;
}

.not-available, .failed {
  position: relative;
  top: 464px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 248px;
  min-height: 24px;
  margin: 0 auto;
  font: 0.625em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}


#calendar{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 360px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  z-index: 10;
}


#music{
  position: absolute;
  bottom: 5px;
}
#alarm{
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.title {
  color: white;
  text-align: center;
  font-size: 100px;
}

.date {
  text-align: center;
  padding-top: 50px;
  color: white;
  
}

#quote {
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  z-index: 20;
}
.btn {
   position:absolute;
    width:150px;
    height:20px;
    background:red;
    left:545px;
    top:560px;
    font-size: 10pt;
    background-color: #999999;
  border-style.border-color: #aa22aa;
  color: #ffffff;
  z-index: 100;
}
.center { text-align: center; }
div {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.videoButton {
  background-color: white;
}
