body {
  background-color: #000000;
  font: 400 1em/1.38 Montserrat;
  color: #000000;
  
}

.info_bg p {
  margin-bottom: -.2em;
}

.title {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
}

.date {
  text-align: center;
  padding-top: 50px;
  color: white;
  z-index: 100;
}

.btn {
   position:absolute;
    width:150px;
    height:20px;
    background:red;
    left:545px;
    top:650px;
    font-size: 10pt;
    background-color: #999999;
  border-style.border-color: #aa22aa;
  color: #ffffff;
  z-index: 100;
}

.clock {
    position: absolute;
    top: 125px;
    left: 200px;
    width: 1000px;
    height: 450px;
    z-index: -100;
    filter: invert(100%);
}
